.nightCity {
  /* border: 1px solid red; */
  position: relative;
  width: 1000px;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  overflow: hidden;
  cursor: pointer;
}

.nightCity:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 100%;
  height: 100%;
  top: 0;
}

.nightCity:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 2px;
  height: 2px;
  top: 100px;
  left: 100px;
  box-shadow: 100px -10px rgba(255, 255, 255, 0.7),
    200px -10px rgba(255, 255, 255, 0.7), 300px -10px rgba(255, 255, 255, 0.7),
    370px 0 rgba(255, 255, 255, 0.4), 80px -10px rgba(255, 255, 255, 0.7),
    40px -20px rgba(255, 255, 255, 0.4), 40px 30px rgba(255, 255, 255, 0.4),
    250px -30px rgba(255, 255, 255, 0.4), 500px 100px rgba(255, 255, 255, 0.7),
    100px 200px rgba(255, 255, 255, 0.4), 400px 100px rgba(255, 255, 255, 0.4),
    500px 300px rgba(255, 255, 255, 0.4), 400px 20px rgba(255, 255, 255, 0.4),
    40px 30px rgba(255, 255, 255, 0.4), 550px 30px rgba(255, 255, 255, 0.4),
    500px 200px rgba(255, 255, 255, 0.7), 200px 200px rgba(255, 255, 255, 0.4),
    700px 100px rgba(255, 255, 255, 0.4), 1000px 300px rgba(255, 255, 255, 0.4),
    1000px 100px rgba(255, 255, 255, 0.4), 800px 300px rgba(255, 255, 255, 0.4),
    850px 20px rgba(255, 255, 255, 0.4), 820px 30px rgba(255, 255, 255, 0.4),
    550px 1000px rgba(255, 255, 255, 0.4), 700px 200px rgba(255, 255, 255, 0.7),
    800px 200px rgba(255, 255, 255, 0.4), 700px 100px rgba(255, 255, 255, 0.4),
    800px 300px rgba(255, 255, 255, 0.4);
  filter: drop-shadow(0 0 3px yellow);
}

.river {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #05477f;
  bottom: 0;
}

.river-float {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  height: 2px;
  width: 10px;
  top: 85%;
  left: 45%;
  box-shadow: 200px 40px rgba(255, 255, 255, 0.3),
    130px 30px rgba(255, 255, 255, 0.3), 170px 10px rgba(255, 255, 255, 0.3),
    -200px 5px rgba(255, 255, 255, 0.3), -300px -5px rgba(255, 255, 255, 0.3),
    -500px 30px rgba(255, 255, 255, 0.3), -150px 15px rgba(255, 255, 255, 0.3),
    -550px -25px rgba(255, 255, 255, 0.3), -400px 50px rgba(255, 255, 255, 0.3),
    400px 50px rgba(255, 255, 255, 0.3), 600px 5px rgba(255, 255, 255, 0.3),
    300px -5px rgba(255, 255, 255, 0.3), 500px 30px rgba(255, 255, 255, 0.3),
    650px 50px rgba(255, 255, 255, 0.3);
  opacity: 0;
  animation: waves 2.5s linear infinite;
}

.building {
  position: absolute;
  background-color: #03171e;
  width: 100px;
  height: 300px;
  top: 45%;
  box-shadow: 20px 0 #03171e, 250px 0 #03171e, 450px 0 #03171e, 800px 0 #03171e,
    1000px 0 #03171e;
}

.building:before {
  content: "";
  position: absolute;
  background-color: #03171e;
  width: 170px;
  height: 100px;
  left: 50px;
  top: 66.7%;
  box-shadow: 240px 0 #03171e, 400px 0 #03171e, 650px 0 #03171e;
}

.building:after {
  content: "";
  position: absolute;
  background-color: #03171e;
  width: 20px;
  height: 200px;
  left: 70px;
  top: 33.3%;
  left: 200px;
  box-shadow: 200px 0 #03171e, 400px 0 #03171e, 500px 0 #03171e, 750px 0 #03171e,
    970px 0 #03171e;
}

@keyframes waves {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(50px);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
    width: 0;
  }
}

.track {
  position: absolute;
  background-color: #03171e;
  width: 700px;
  height: 10px;
  left: 150px;
  top: 68.5%;
  box-shadow: 400px 0 #03171e, -40px -105px #03171e, 700px -1.5px #03171e,
    900px -105px #03171e, 200px -105px #03171e, 700px -105px #03171e,
    400px -105px #03171e;
}

.track:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2.5px;
  top: 2px;
  left: -20px;
  background-color: #495057;
  box-shadow: -10px 0 #495057, 10px 0 #495057, 20px 0 #495057, 30px 0 #495057,
    40px 0 #495057, 50px 0 #495057, 60px 0 #495057, 70px 0 #495057,
    80px 0 #495057, 90px 0 #495057, 100px 0 #495057, 110px 0 #495057,
    500px 0 #495057, 510px 0 #495057, 520px 0 #495057, 530px 0 #495057,
    540px 0 #495057, 550px 0 #495057, 780px 0 #495057, 790px 0 #495057,
    800px 0 #495057, 810px 0 #495057, 820px 0 #495057, 830px 0 #495057,
    840px 0 #495057, 850px 0 #495057, 980px 0 #495057, 990px 0 #495057,
    1000px 0 #495057;
}

.track:after {
  content: "";
  position: absolute;
  background-color: #03171e;
  width: 40px;
  height: 15px;
  top: -97px;
  left: 41px;
  box-shadow: 199px 0 #03171e, 400px 0 #03171e, 500px 0 #03171e, 750px 0 #03171e;
}

.train {
  position: absolute;
  /* background-color: #014f86; */
  /* background-color: red; */
  height: 25px;
  width: 60px;
  top: 0;
}
