.sse{
    width: 10vw;
}

.alert {
    position: relative;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 10px;
    line-height: 1.5;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
    /* z-index: 99; */
}

.alertCheckbox {
    display: none;
}

:checked + .alert {
    display: none;
}

.alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
}

.clear {
    clear: both;
}

.info {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #999;
}

.success {
    background-color: #efe;
    border: 1px solid #ded;
    color: #9a9;
}
.notice {
    background-color: #eff;
    border: 1px solid #dee;
    color: #9aa;
}
.warning {
    background-color: #fdf7df;
    border: 1px solid #feec6f;
    color: #c9971c;
}
.error {
    background-color: #fee;
    border: 1px solid #edd;
    color: #a66;
}

.in {
    background-color: rgb(255, 166, 0);
    border: 1px solid #edd;
    color: rgb(255, 255, 255);
}
.out {
    background-color: rgb(21, 255, 0);
    border: 1px solid #edd;
    color: rgb(255, 255, 255);
}
.end{
    background-color: #f43737;
    border: 1px solid #edd;
    color: rgb(255, 255, 255);
}