.container {
  box-sizing: border-box;
  width: 90%;
  background-color: #f7f7f7;
}

.visualization,
.data {
  border: 1px solid orangered;
  margin: 25px;
}

.visualization {
  height: 30%;
}

.data {
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  /* float: left; */
  box-sizing: border-box;
  animation-name: pullUp;
  animation-duration: 1.1s;
  /* animation-direction: reverse; */
  /* animation-timing-function: ease-out; */
  /* transform-origin: 50% 100%; */
}

.search {
  padding: 10px;
  background-color: #f3fbff;
  overflow: hidden;
}

.search input[type="text"],
input[type="text"] ~ div {
  outline: none;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.search input[type="text"] {
  float: left;
  width: 80%;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  color: #888;
  border: 1px solid transparent;
  transition: 0.3s;
}
.search input[type="text"]:focus,
.search input[type="text"]:hover {
  border: 1px solid #1b73e8;
  box-shadow: 0 0 5px #1b73e8;
}

.search input[type="text"]::placeholder {
  opacity: 1;
  transition: 0.3s;
}

.search input[type="text"]:focus::placeholder {
  opacity: 0;
  visibility: none;
}

input[type="text"] ~ div {
  float: right;
  width: 20%;
  text-align: center;
  background-color: #1b73e8;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.list-table {
  display: table;
  /* border: 1px solid red; */
  width: 100%;
  box-sizing: border-box;
}

.table-heading {
  display: table-header-group;
  background-color: #eeeeee;
}
.table-row,
.info {
  display: table-row;
  /* background-color: antiquewhite; */
}

.head,
.cell {
  border-bottom: 1px solid #eee;
  display: table-cell;
  padding: 10px;
}

.table-content {
  display: table-row-group;
}

.info {
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}

.info.active {
  background-color: #f3fbff;
  border-bottom: 1px solid lightgray;
}

.add-data {
  /* border: 1px solid blue; */
  float: right;
  width: 20%;
  background-color: lightgray;
}

.add-data div {
  box-sizing: border-box;
  padding: 10px;
  /* border: 1px solid red; */
  overflow: hidden;
  width: 100%;
}

.add-data div h4 {
  margin-bottom: 3px;
}

.button {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-data button {
  width: 80%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}
