.Dashboard {
  width: 90%;
  display: flex;
  overflow: scroll;
}

.leftBox {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lb-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 28%;
  height: 98%;
}

.lb-left-top{
  height: 29%;
}

.lb-left-middle{
  height: 39%;
}

.lb-left-bottom{
  height: 29%;
}

.lb-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 69%;
  height: 98%;
}

.rightBox {
  width: 10%;
}

.lb-right-top{
  height: 29%;
}

.lb-right-middle{
  height: 39%;
}

.lb-right-bottom{
  height: 29%;
}

.chartSection {
  width: 100%;
  box-shadow: 1px 1px 1px 1px #999;
  border-radius: 20px;
}

.chartSection h2{
  margin-top: 1.1vh;
  font-size: large;
  text-align: center;
}

.chartbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartCSS {
  margin-top: 1.5vh;
}

/* @media (min-width: 1200px) {
  .Dashboard {
    grid-template-columns: repeat(1, 2fr);
  }
}

@media (max-width: 1200px) {
  .Dashboard {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 768px) {
  .Dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */

.test {
  width: 50%;
  height: 3%;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px 0px 0px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test2 {
  width: 50%;
  height: 3%;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px 0px 0px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top10Section{
  width: 100%;

}

.top10Section caption{
  padding: .5em 0;
}

.top10Section.dataTable th,
.top10Section.dataTable td {
  white-space: nowrap;
}