.Dashboard {
  width: 90%;
  display: grid;
}

@media (min-width: 1200px) {
  .Dashboard {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 1200px) {
  .Dashboard {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 768px) {
  .Dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Chart {
  border: 1px solid red;
}
