.Dashboard {
  width: 90%;
  display: flex;
  overflow: scroll;
}

.leftBox {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lb-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 28%;
  height: 98%;
}

.lb-left-top{
  height: 29%;
}

.lb-left-middle{
  height: 39%;
}

.lb-left-bottom{
  height: 29%;
}

.lb-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 69%;
  height: 98%;
}

.rightBox {
  width: 10%;
}

.lb-right-top{
  height: 29%;
}

.lb-right-middle{
  height: 39%;
}

.lb-right-bottom{
  height: 29%;
}

.chartSection {
  width: 100%;
  box-shadow: 1px 1px 1px 1px #999;
  border-radius: 15px;
}

.chartSection h2{
  margin: 0.5vh 0;
  font-size: large;
  text-align: center;
}

.chartbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartCSS {
  margin-top: 1.5vh;
}

/* @media (min-width: 1200px) {
  .Dashboard {
    grid-template-columns: repeat(1, 2fr);
  }
}

@media (max-width: 1200px) {
  .Dashboard {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 768px) {
  .Dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */

.dailyRecordSection{
  height: 90%;
}

.dailyRecords{
  height: 100%;
}

.recordLine{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 33%;
}

.recordBox{
  width: 45%;
  height: 100%;
  box-shadow: 0.5px 0.5px 0.5px 0.8px #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.recordBox p{
  text-align: center;
  font-size: 1.5em;
  margin: 4% 0;
}

.recordBox span{
  font-size: small;
  text-align: right;
}

.top10{
  margin-top: 20px;
  width: 100%;
}

.top10 td, th{
  text-align: center;
  vertical-align: middle;
}

.monthlyChartSection{
  height: 80%;
}

.totalSalesChartSection{
  height: 80%;
}