.loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 350px;
  width: 350px;
  margin: 30px;
  position: relative;
}

.content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  width: 70%;
}

.wrapper span {
  position: absolute;
  border: 1px solid #1b73e8;
  width: inherit;
  height: inherit;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}

.wrapper span:nth-child(1) {
  animation: circle 4s linear infinite;
}
.wrapper span:nth-child(2) {
  animation: circle 6s linear infinite;
  animation-direction: reverse;
}
.wrapper span:nth-child(3) {
  animation: circle 8s linear infinite;
}

.wrapper:hover span:nth-child(1) {
  opacity: 0.3;
}
.wrapper:hover span:nth-child(2) {
  opacity: 0.6;
}
.wrapper:hover span:nth-child(3) {
  opacity: 0.8;
}

.wrapper:hover span {
  background-color: #1b73e8;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
